<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de Discos Musicais</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/albuns.css" />
  </head>

  <style>
    body {
      background-color: #1f1f1f;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 40px;
    }

    a {
      color: white;
    }

    input {
      padding: 10px;
    }

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 100px;
    }

    button {
      width: 100px;
      height: 40px;
    }

    .container-albuns {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
    }

    img {
      width: 100px;
      height: 100px;
    }

    .container-album {
      background-color: black;
      color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      font-size: 14px;
      width: 1100px;
    }

    button {
      background-color: yellow;
      border: none;
      border-radius: 5px;
    }

    button:hover {
      background-color: rgb(118, 118, 11);
    }
  </style>
  <body>
    <header>
      <h1>DISCOTECA ONLINE</h1>
      <nav>
        <a href="/">Discos</a>
        <a href="/artistas">Artistas</a>
      </nav>
    </header>

    <div class="container">
      <form action="/albuns/search" method="get">
        <input type="text" name="query" placeholder="Digite aqui" required />
        <button type="submit">Buscar</button>
      </form>
      <button id="novo-album" onclick="location.href='/albuns/novo'">
        Adicionar Novo Disco
      </button>
    </div>

    <main>
      <h2>DISCOS DISPONÍVEIS</h2>

      <div id="container-geral">
        <div class="container-albuns">
          <% albums.forEach(album => { %>
          <div class="container-album">
            <img
              id="img-Capa"
              src="/uploads/<%= album.capa %>"
              alt="Capa do Álbum <%= album.titulo %>"
            />
            <h3><%= album.titulo %></h3>
            <p>Ano: <%= album.anoLancamento %></p>

            <p>
              Artistas: <% if (album.Artista && album.Artista.length > 0) { %>
              <%= album.Artista.map(artista => artista.nome).join(', ') %> <% }
              else { %> Nenhum artista associado <% } %>
            </p>

            <p>
              Gêneros: <% if (album.Generos && album.Generos.length > 0) { %>
              <%= album.Generos.map(genero => genero.nome).join(', ') %> <% }
              else { %> Nenhum gênero associado <% } %>
            </p>

            <h4>Faixas:</h4>
            <ul>
              <% if (album.Faixas && album.Faixas.length > 0) { %> <%
              album.Faixas.forEach(faixa => { %>
              <li><%= faixa.titulo %> <%= faixa.duracao %></li>
              <% }) %> <% } else { %> Nenhuma faixa associada <% } %>
            </ul>

            <button onclick="location.href='/albuns/<%= album.id %>/editar'">
              Editar
            </button>
            <form
              action="/albuns/<%= album.id %>?_method=DELETE"
              method="POST"
              class="delete-album-form"
            >
              <button type="submit">Remover</button>
            </form>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
  <script>
    const deleteForms = document.querySelectorAll(".delete-album-form");

    deleteForms.forEach((form) => {
      form.addEventListener("submit", function (event) {
        const confirmDelete = confirm(
          "Tem certeza de que deseja remover este álbum?"
        );

        if (!confirmDelete) {
          event.preventDefault();
        }
      });
    });
  </script>
</html>
